body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;

}

.gallery {

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    justify-content: center;
    margin: auto;
    max-width: 750px;
}

img {
    width: 80%;
    margin: auto;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    h1 {
        font-size: 90%;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }


}

@media (max-width: 480px) {
    h1 {
        font-size: 80%;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .flex-container {
        flex-direction: column;
    }

}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;

}



.box {
    background-color: #2196F3;
    color: white;
    padding: 20px 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    min-width: 140px;
}

.box:hover {
    background-color: #0b7dda;
}